In [2]:
#!/usr/bin/env python
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import pickle
import requests
import numpy as np
import pandas as pd
import time
import csv
import re
import json
import xlrd
import os
from selenium.common.exceptions import NoSuchElementException
from datetime import datetime, date, timedelta
import nltk
from selenium.webdriver.firefox.options import Options
#from flatten_json import flatten
import time

import glob
from sqlalchemy import create_engine
import pymysql

No product foundhttps://api.danmurphys.com.au/apis/ui/Product/141709
No product foundhttps://api.danmurphys.com.au/apis/ui/Product/694618
No product foundhttps://api.danmurphys.com.au/apis/ui/Product/106418
No product foundhttps://api.danmurphys.com.au/apis/ui/Product/119009
No product foundhttps://api.danmurphys.com.au/apis/ui/Product/694654
No product foundhttps://api.danmurphys.com.au/apis/ui/Product/694606
No product foundhttps://api.danmurphys.com.au/apis/ui/Product/MYSTERY591

                        URL
0                    855228
1      ER_1000004893_CDESHI
2                    430163
3                 MYSTERY32
4                 MYSTERY41
..                      ...
736              MYSTERY629
737              MYSTERY630
738              MYSTERY631
739  ER_1000005766_18RIMON6
740     ER_2000003207_SBS10

[741 rows x 1 columns]